.cart-items{
	h2{
		text-align: center;
		padding-top: 25px;
	}
	.table-container{
		box-sizing: border-box;
	    width: 1000px;
	    margin: 50px auto;
	    counter-reset: serial-number;

	    .table-col td:first-child:before{
	    	counter-increment: serial-number;
	    	content: counter(serial-number);
	    }
	    table,th,td{
	    	border-collapse: collapse;
	    	border: 1px solid #cac8c8;
	    }
	    table{
	    	width: 100%;
	    	th{
		    	font-weight: bold;
		    	padding: 30px;
	    	}
	    	td{
		    	text-align: center;
		    	padding: 20px 60px;
		    	select{
		    		width: 40px;
				    font-size: 12px;
				    height: 20px;
		    	}
	    	}
	    }
	    .table-col-name{
	    	padding-left: 25px;
	    	text-align: left;
	    }
	}
	.buy-cancel{
		margin:auto;
		width: 500px;
		.product-buy{
	    	width: 100px;
		    text-align: center;
		    padding: 10px;
		    color: white;
		    background: green;
		    border-radius: 5px;
	    }
	    .product-cancel{
	    	width: 100px;
		    margin: 30px;
		    text-align: center;
		    padding: 10px;
		    color: white;
		    background: red;
		    border-radius: 5px;
	    }
	}
 	

}

