.cart-items{
	h2{
		text-align: center;
		padding-top: 25px;
	}
	.quality-box{
		display: flex;
	    width: 800px;
	    margin: 50px auto;
	    box-sizing: border-box;
	    box-shadow: 1px 1px 5px 0px #bdbdbd;
		.ordered-image{
			position: relative;
			height: 150px;
			width: 150px;

			img{
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				max-width: 100%;
				max-height: 100%;
				margin: auto;
			}
		}
		.ordered-details{
			padding: 10px 100px;
    		width: 250px;
			div{
				padding-top: 10px;
			}
		}
		.ordered-total{
			width: 200px;
			p{
				    padding: 63px 0px;
			}
		}
	}
}