h2{
	font-size: 38px;
	font-weight: bold;
}
ul{
	list-style-type: none;
	line-height: 25px;
	li{
		font-weight: 200;
	}	
}

a{
	text-decoration: none;
}

input[type="search"]{
	border: 1px solid #dedede;
    border-radius: 4px;
    font-size: 12px;
    height: 32px;
    padding-left: 10px;
    width:250px;
}

input[type="checkbox"]{
	position: absolute;
	visibility: hidden;
}
.no-item{
	text-align: center;
	margin: 100px 0px;
	font-size: 25px;
}

.container{
	padding:20px;
}

