
h2{
	color: red;
	font-size: 40px;
	text-align: center;
}
/*.product_style{
	float: right;
	width: 80%;
}
.each_product{
	padding: 20px 8px;
	height: 200px;
	min-width: 200px;
	max-width: 500px;
	width: 20%;
	float: left;
}*/
ul{
	list-style-type: none;
	line-height: 25px;
	li{
		font-weight: 200;
	}
	
}