h2{
	font-size: 38px;
	font-weight: bold;
}
ul{
	list-style-type: none;
	line-height: 25px;
	li{
		font-weight: 200;
	}	
}

a{
	text-decoration: none;
}

input{
	border: 1px solid #dedede;
    border-radius: 4px;
    font-size: 12px;
    height: 32px;
    padding-left: 10px;
    width:250px;
}

input[type="checkbox"]{
	width:20px;
}

