.product-details{
	float:right;
	width: 78%;
	border-left: 1px solid #e6e6e6;
	.product-item{
		display: inline-block;
	    margin: 10px;
	    background-color: #fbfbfb;
	    min-width: 200px;
	    .product-text{
	    	text-align:center;
	    	ul{
	    		background: white;
	    	}
	    	button{
	    		display: none;
	    	}
	    }
	}
	.product-item:hover{
		outline: 1px solid #eaeaec;
	}
	.product-item:hover button{
		display: inline-block;
		text-align: center;
	}
	.productHeader-details{
		display: inline-block;
		width: 100%;
	}

	#products-list{
		.product-image{
				position: relative;
				height: 200px;
				width: 200px;
				margin: auto;
				img{
					position: absolute;
					top:0;
					bottom:0;
					right:0;
					left:0;
					margin: auto;
					max-width: 100%;
					max-height: 100%;
				}
			}
				
	}
		
	h3{
		color: black;
		padding: 20px;
		font-size: 30px;
		font-weight: Italic;
	}
	.productHeader{
		width: 48%;
		float: left;
	}
	.productFilter{
		width: 50%;
		float: right;
		padding: 24px 0px;
		font-size: 20px;
		font-weight: 100;
		span{
			padding-left:20px;
			select{
				width: 200px;
			    font-size: 15px;
			    height: 30px;
			}
		}	
	}
}
