.product-details{
	float: right;
	width: 80%;
}
.product-item{
	padding: 20px 8px; 
	/*min-width: 200px;
	max-width: 500px;*/
	width: 20%;
	float: left;
}
img{
	height: 200px;
	width: 150px;
}
.productHeader-details{
	padding-left: 20px;
}
.productHeader{
	width: 50%;
	display: inline-block;
	float: left;
}
.productFilter{
	width: 50%;
	display: inline-block;
	float: right;
}